<%= turbo_frame_tag appointment do %>
<div class="flex-col mb-2 justify-center w-full rounded-lg bg-white p-6 shadow-lg dark:bg-neutral-700" id="<%= dom_id appointment %>">
  <div class="flex-col">
    <h5
      class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
      <%= appointment.title %>
    </h5>
    <p class="mb-2 text-base text-neutral-600 dark:text-neutral-200">
       <strong class="font-medium text-black">Description:</strong>
       <%= appointment.description %>
    </p>
  </div>
  <div class="flex text-neutral-600 justify-items-start gap-2">
    <p class="my-5">
    <strong class="font-medium text-black">Start time:</strong>
    <%= appointment.start_time %>
    </p>

    <p class="my-5">
    <strong class="font-medium text-black">End time:</strong>
     <%= appointment.end_time %>
    </p>
  </div>
  <div class="flex justify-items-end gap-4">
    <%= link_to 'Edit', edit_appointment_path(appointment), class: "bg-green-500 hover:bg-green-700 text-white font-medium py-2 px-4 rounded" %>
    <%= button_to 'Delete', appointment_path(appointment), method: :delete, class: "bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 rounded" %>
  </div>
</div>
<% end %>
